
<div class="w-full px-4 pb-4 pt-0 bg-white border rounded-lg shadow-md sm:px-8 sm:pt-0 sm:pb-8 dark:bg-gray-800 dark:border-gray-700 overflow-y-auto h-96">
    <div class="flex items-center justify-between sticky top-0 bg-white py-8">
        <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white">Los últimos productos</h5>
        <a href="/productos" class="text-sm font-medium text-blue-600 hover:underline dark:text-blue-500">
            Ver todos
        </a>
   </div>
   <div class="flow-root">
        <ul id="products-list-render" role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
            
        </ul>
   </div>
</div>
